:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
  --font-body: "League Spartan", sans-serif;
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-Bold.ttf") format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: 12px;
  color: var(--very-dark-gray);
}

.header {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  position: absolute;
  width: 100%;
  z-index: 10;
  color: var(--white);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1.85rem;
}

.nav ul {
  display: flex;
  gap: 1.25rem;
  list-style: none;
}

.nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}

.mobile-header {
  display: none; /* solo se ve en mobile */
  width: 100%;
  display: flex;
  align-items: center;
}

.menu-icon img {
  width: 26px;
  cursor: pointer;
}

.logo-text {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
}

.main-img {
  background-image: url("../images/desktop-image-hero-1.jpg");
  background-size: cover;
  background-position: center;
  height: 65vh;
}

.main-content {
  position: relative;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.main-content h1 {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.main-content p {
  color: var(--dark-gray);
  line-height: 1.4;
  margin-bottom: 1.65rem;
}

.btn-shop {
  background-color: transparent;
  color: var(--black);
  border: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.75rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  align-items: center;
}

.about-img {
  background-image: url("../images/image-about-dark.jpg");
  background-size: cover;
  background-position: center;
}

.about-text {
  padding: 2.5rem;
}

.about-text h2 {
  color: var(--black);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin-bottom: 0.8rem;
}

.about-text p {
  color: var(--dark-gray);
  line-height: 1.4;
}

.about-img2 {
  background-image: url("../images/image-about-light.jpg");
  background-size: cover;
  background-position: center;
  height: 35vh;
}

.main-img3 {
  position: relative;
}

.arrows {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  background: black;
}

.arrows img {
  padding: 1rem;
  width: 3rem;
  cursor: pointer;
}

/* ---------------------- RESPONSIVE - MOBILE ---------------------- */
@media (max-width: 768px) {
  .mobile-header {
    display: flex;
  }

  .nav {
    display: none;
  }

  .logo {
    display: none;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .main-img {
    height: 50vh;
    background-image: url("../images/mobile-image-hero-1.jpg");
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about-img,
  .about-img2 {
    height: 45vh;
  }

  .desktop-header {
    display: none;
  }

  .main-content {
    width: 100%;
  }
  .arrows {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* ---------------------- RESPONSIVE - DESKTOP ---------------------- */
@media (min-width: 769px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .main-img2 {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background: var(--black);
  }

  .about-img,
  .about-img2 {
    height: 35vh;
  }

  .main-content {
    width: 70%;
  }

  .main-img2 img {
    padding: 1rem;
    width: 3rem;
  }

  .arrows {
    position: absolute;
    right: -6rem;
    bottom: 0;
  }

  .arrows img {
    width: 3rem;
    padding: 1rem;
  }
}
